build/
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
CMakeScripts/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
DerivedData/
Doxyfile
footer.html
install_manifest.txt
Makefile
os.h
out/
*.a
*.gch
*.o
*.sln
*.so
*.so.*
*.swp
*.vcxproj*
*.xcodeproj/
.DS_Store
